html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

nav > a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  margin: 0.25rem;
  border: 4px solid indigo;
  border-radius: 1rem;
}

* {
  box-sizing: border-box;
}
